body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/Фон.png);
    background-color: #161616;
    
  
}
:root{
    --bleu:#81BECB;
}
.cont{
    width: 1810px;
    max-width: 100%;
    margin: 0 auto;
}
.cont2{
    width: 1820px;
    max-width: 71%;
    margin: 0 55px;
    
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h1{
    color: white;
}
h2 {
    color: white;
}
p{
    color: white;
    font-size: 20px;
    
}
header ul li a{
    color: inherit;
    text-decoration: none;

}
header ul li a:hover{
    color: var(--bleu);
}
header ul li{
    color: white;
    list-style: none;
}
header ul{
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    align-items: center;
    height: 100%;
    padding-bottom: 29px;
    width: 1050px;
}
header{
    background-color: #181919;
    height: 141px;
    border-bottom: solid #212323;
    filter: drop-shadow(#00000025);
    margin-bottom: 30px;
    
}
header .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexhead{
    display: flex;
    justify-content: space-between;
}
.sidenav {
    
   
    background-color: #1C1D1F50;
    border: solid #2B2B2B 1px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

}
.side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 425px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    height: 1369px;
    left: 1430px;
}
.sidenav2{
   
    background-color: #1C1D1F50;
    border: solid #2B2B2B 1px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
   

}
.sidenav2 img{
    z-index: 2;
    width: 425px;
    height: 545px;
}
.sidenav2 button{
    background-color: var(--bleu);
    width:148px;
    height:47px;
    border-radius:57px;
    border: none;
}

.sidecont{
    position: absolute;
    width: 205px;
    height: 220px;
    margin-top: -400px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav h3, .sidenav2 h3{
    color: white;
}
.h3box{
    background-color: #212121;
    border-bottom: solid #2B2B2B 1px;
    padding: 18px 0 18px 20px;
    margin-top: -20px;
}
.flexside{
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-size: 20px;
    height: 128px;
    padding: 15px;
   
}
.p1{
    font-size: 16px;
    color: #818181;
}
.flp{
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.clock{
    display: flex;
    justify-content: space-between;
    width: 142px;
}
.line{
    border-bottom: solid #2B2B2B 1px;
}
.sidenav::-webkit-scrollbar {
    width: 0;
}
.banner{
    background-image: url(../img/Group\ 10.svg);
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 1380px;
    height: 460px;
    padding: 11px 844px 407px 18px;
    margin-left: -20px;
}
.hleb{
    background-color: #161a1949;
    padding: 20px 0 20px 20px;
    width: 1307px;
    height: 61px;
}
.cont2 .p2{
    margin-top: 40px;
    
}
.btn,.btn1{
    background-image: url(../img/loupe\ \(9\)\ 1.png);
    width: 29px;
    height: 29px;
    border: none;
    background-repeat : no-repeat;
    background-color: #181919;
}
.btn1{
    display: none;
}

#s{
    width: 650px;
    height: 30px;
    background-color: #1B1E1E;
    border: none;
    border-radius: 93px;
    padding: 22px 30px 21px 30px;
    color: #6D7A7C;
    border-style: none;
   
}
form{
    display: flex;
    align-items: center;
    background-color: #1B1E1E;
    border: solid #252A2C 2px;
    border-radius: 93px;
    width: 716px;
    height: 64px;
    
}
input::placeholder{
    color: #6D7A7C;
}


input {
    outline:none;

}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    
    display: none;
    position: absolute;
    background-color: #1c1d1f42;
    backdrop-filter:blur(8px);
    min-width: 213px;
    z-index: 1;
    border: solid #2B2B2B 1px;
    
}


.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}




.dropdown:hover .dropdown-content {display: block;}
.ban{
    margin-bottom: 80px;
}
.im{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 251px;
    height: 200px;
}
.im img{
    width: 100%;
    margin-left: -20px;
}

.podbor{
    height: 626px;
    margin-bottom: 60px;

}

.imgflex{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.year{
    font-weight:lighter;
}
.linee{
    height: 77px;
    width: 1340px;
    border-bottom: solid var(--bleu) 1px;

}
.left-bot{
    background-color: #1c1d1f81;
    border: solid #2B2B2B 1px;
    width: 428px;
    height: 152px;
    display: flex;
    justify-content: space-around;

}
.marg{
    margin-left: -20px;
}
.movie{
    width: 100%;
    height: 916px;
 
}
.fleximtext{
    display: flex;
    justify-content: space-between;
}
.right{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-top{
    background-color: #1c1d1f81;
    border: solid #2B2B2B 1px;
    height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.ps{
    font-size: 18px;
}
.right-mid{
    background-color: #1c1d1f81;
    border: solid #2B2B2B 1px;
    
    
    

}
.str1, .str2, .str3, .str4{
    
    display: flex;
    justify-content: space-between;
    
}

.str{
    padding: 15px 0 15px 20px;
    border-bottom: solid #2B2B2B 1px;
}
.str4 span{
    text-decoration-line: underline;
}
.st{
    display: flex;
    width: 620px;
}
.vest{
    color: var(--bleu);
    
}
span a{
    color: inherit;
}
.right-bot{
   
    height: 437px;
    background-color: #1c1d1f81;
    border: solid #2B2B2B 1px;
    padding: 20px 20px 0px 20px;
    font-size: 18px;
}
.right-bot p{
    font-size: 18px;
}
.right-bot h3{
    color: white;
}
.vest2{
    color: var(--bleu);
   
    float: right;
}
.d01{
    z-index: -1;
  margin-bottom: -20px;
}
footer{
    background-color: #181A19;
    border: solid #212323 1px;
    padding: 30px 0 0 0;
    
}
.about{
    width: 971px;
}
.about p{
    font-size: 18px;
}
.flexfoot{
    display: flex;
    justify-content: space-between;
    border-bottom: solid #323232 1px;
    padding-bottom: 20px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 20px;
    color: #A8A8A8;
    list-style: none;
}
.menu ul a{
    color: inherit;
    text-decoration: none;
}
.menu ul a:hover{
    color: var(--bleu);
    font-weight: 800;
}
.col{
    color: #A8A8A8;
}
.lie{
    height: 100px;
    border-left: solid #323232 1px;
    margin-top: 76px;
}
.flexfoot2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.fleximgfoot{
    width: 217px;
    display: flex;
    justify-content: space-between;
}
.flexfoot2 p{
    font-size: 18px;
    color: #A8A8A8;

}
.vk{
    width: 59px;
    height: 59px;
    background-image: url(../img/Иконка\ 3\ \(активная\ при\ наведении\)\ \(1\).png);
}
.inst{
    width: 59px;
    height: 59px;
    background-image: url(../img/Иконка\ 2.png);
}
.face{
    width: 59px;
    height: 59px;
    background-image: url(../img/Иконка\ 1.png);
}
.fleximgfoot .vk:hover{
    background-image: url(../img/blue.png);
    
}
.fleximgfoot .inst:hover{
    background-image: url(../img/Иконка\ 2\ \(1\).png);
    
}
.fleximgfoot .face:hover{
    background-image: url(../img/Иконка\ 1\ \(1\).png);
    
}
.ham{
    display: none;
}

@media screen and (max-width:1200px){
    
    
    .cont{
       width: 90%;
    }
    .cont2{
        width: 1810px;
        max-width: 90%;
        margin: 0 auto;
        
        
    }
    .side{
        display: none;
    }
   
    header{
        font-size: 14px;
        
        height: 50%;
    }
    form input{
        display: none;
        
     }
     form{
        width: 100%;
        height: 100%;
        border: none;

     }
     .btn{
        width: 30px;
        height: 30px;
        display: block;
        margin-left: 50px;
     }
    .banner{
       max-width: 1100px;
       height: 366px;
       padding: 1px 100px 10px 18px;
       
    }
    .hleb{
        width: 90%;
    }
    .hleb p{
        font-size: 15px;
    }
    .linee{
        width: 90%;
    }
    .movie{
        
        height: 1880px;
    }
    .fleximtext{
        flex-direction: column;
    }
    .im p{
        font-size: 15px;
    }
    .podbor{
        height: 400px;
        margin-bottom: 160px;
        width: 100%;
    }
    .marg{
        width: 100%;
        
    }
    
     .right-top{
        height: 200px;
        flex-direction: column;
        align-items: normal;
        padding: 15px;
     }
     .right-bot{
        min-height: 100%;
     }
     
     .inf{
        display: flex;
        justify-content: space-between;
     }
    
     .left{
        margin: 0 auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
 
     }
    
     .d01{
        margin-left: 334px;
     }
     .about, .lie{
        display: none;
     }
     .flexfoot{
        flex-direction: column;
        align-items: center;
     }
     .logo{
        border-bottom: solid #212323 1px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 0 30px 0;
     }
     .flexfoot2{
        flex-direction: column-reverse;
        height: 150px;
     }
     .fleximgfoot{
        order: 1;
     }
     .menu ul{
        align-items: center;
     }
     .menu{
        text-align: center;
     }
   
    
   
    form.search.btn{
        display: none;
        width: 100%;
    }
    form.search{
      
        background-color:#181919 ;
        position: absolute;
        width: 12px;
        height: 50px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        outline: var(--bleu);

        transition: 0.3s;
        transform: translate(-4px,-13px);
    }
    form.search input{
        display: none;
       
        position: absolute;

        background: rgba(28, 29, 31, 0.5);
        border: 1px solid #2B2B2B;
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        outline: var(--bleu);

        transition: .3s;
        transform: translate(14px,42px);

    }
    form.search.open input{
        display: block;
        transition: .1s;
       
        
    }
    form.search.open .btn{
        transform: translate(223px,-20px);
        background-image: url(../img/Кнопка.png);
        display: block;
    }
    form.search.open .btn1{
        transform: translate(263px,17px);
        display: block;
    }
    form.search.open{
        position: absolute;
        display: block;
        width: 320px;
        height: 141px;
        transition: .3s;
        background: rgba(28, 29, 31, 0.5);
        border: 1px solid #2B2B2B;
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 0px;
        transform: translate(-307px, -37px);
       
        
    }
    form.search.open img{
        display: block;
        transform: translate(10px,13px);
    }
    #s{
        width: 290px;
    }
    
    
   
}

form img{
    display: none;
}



@media screen and (max-width:800px){
    header ul li{
        display: none;
    }
    .ham{
        display: block;
        margin-right: 80px;
    }
    .btn{
            transform: translate(-51px,-3px);
    }
    
    form.search.open img{
        display: block;
        transform: translate(10px,13px);
    }
    body{
        margin: 0;
    }
    
    .cont{
        width: 100%;
        margin: 0;
     }
     .cont2{
         width: 1810px;
         max-width: 90%;
         margin: 0 auto;
         
         
     }
     .banner{
        max-width: 800px;
        height: 255px;
     }
     .d01{
        margin-left: 143px;
     }
     .right-bot{
        min-height: 509px;
     }
     .movie{
        height: 1950px;
     }
     .podbor{
        margin-bottom: 88px;
     }
     /* form.search.btn{
        display: none;
        width: 100%;
    } */
    form.search{
       
        background-color:#181919 ;
        position: absolute;
        width: 12px;
        height: 50px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        outline: var(--bleu);

        transition: 0.3s;
        transform: translate(-50px,-13px);
    }
    form.search input{
        display: none;
       
        position: absolute;

        background: rgba(28, 29, 31, 0.5);
        border: 1px solid #2B2B2B;
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        outline: var(--bleu);

        transition: .3s;
        transform: translate(14px,42px);

    }
    form.search.open input{
        display: block;
        transition: .1s;
       
        
    }
    form.search.open .btn{
        transform: translate(223px,-20px);
        background-image: url(../img/Кнопка.png);
        display: block;
    }
    form.search.open .btn1{
        transform: translate(263px,17px);
        display: block;
    }
    form.search.open{
        position: absolute;
        display: block;
        width: 320px;
        height: 146px;
        transition: .3s;
        background: rgba(28, 29, 31, 0.5);
        border: 1px solid #2B2B2B;
        box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 0px;
        transform: translate(-338px, -22px);
       
        
    }
   
    #s{
        width: 290px;
    }
  






   
        
    }
    
     
     
     

@media screen and (max-width:700px){
    .movie{
        height: 2000px;
    }
    .right-bot{
        min-height: 550px;
    }

}
@media screen and (max-width:600px){
    .movie{
        height: 2100px;
    }
    .right-bot{
        min-height: 600px;
    }

}